*.obj
*.exe
*.lib
*.ilk
*.pdb
*.suo
*.manifest
*.manifest.res
*.resource.txt
ALL_BUILD.vcproj
CMakeCache.txt
CMakeFiles/
Makefile
Project.sln
ZERO_CHECK.vcproj
cmake_install.cmake
tracelib.vcproj
pcre_chartables.c
tests/CTestTestfile.cmake
